<!DOCTYPE html>
<html lang="en">

<head>
  <!-- <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="css/landing_page.css">
  <link href="https://fonts.googleapis.com/css?family=Play|Prompt:600i&display=swap" rel="stylesheet"> -->
  <title>Projet_pro festival Ivry</title>
</head>

<body>

  <h1>Festival du film d'Ivry</h1>
  <a href="#">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    Enter </a>
  <h2>Les entreprises rencontrent le 7ème art</h2>

  <div id="first">
    <video autoplay id="firstVideo">
      <source src="static/Atoms - 8579.mp4" type="video/mp4">

    </video>
  </div>
  <div>
    <video loop autoplay id="cut">
      <source src="static/cut.mp4" type="video/mp4">
    </video>
  </div>
  <script src="js/landing_page.js" async></script>
</body>

</html>
