<!DOCTYPE html>
<html lang="en">

<head>
    <!-- <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="css/landing_page.css">
  <link href="https://fonts.googleapis.com/css?family=Play|Prompt:600i&display=swap" rel="stylesheet"> -->
    <title>Projet_pro festival Ivry</title>
</head>

<body>
    <app-navigation></app-navigation>

    <div class="container-fluid" id="content">
        <div class="row">
            <div class="col-8 offset-2">
                <h1>Festival du film d'Ivry</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-3 offset-2 btn btn-secondary button">
                <a href="#">
                    <h2>Réaliser une oeuvre</h2>
                </a>
            </div>
            <div class="col-3 offset-2 btn btn-secondary button">
                <a href="#">
                    <h2>Me faire une oeuvre</h2>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-4 offset-4 text-center" id="simple">
                <h2>Simple visite ?</h2>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-2 btn btn-secondary">
                <a href="#">
                    <h3>Où et quand</h3>
                </a>

            </div>
            <div class="col-2 offset-1 btn btn-secondary">
                <a href="#">
                    <h3>Actualités</h3>
                </a>

            </div>
            <div class="col-2 offset-1 btn btn-secondary">
                <a href="#">
                    <h3>festival</h3>
                </a>

            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-2 btn btn-secondary">
                <a href="#">
                    <h3>Où et quand</h3>
                </a>

            </div>
            <div class="col-2 offset-1 btn btn-secondary">
                <a href="#">
                    <h3>Actualités</h3>
                </a>

            </div>
        </div>
    </div>







</body>

</html>